%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:projects, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:projects, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:projects, :destroy_many), :method => :delete do
                      =hidden_field_tag :project_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= mat(:project, :id)
        %th.header= mat(:project, :name)
        %th.header= mat(:project, :description)
        %th.header= mat(:project, :started_at)
        %th.header= mat(:project, :started_by_id)
        %th.header= mat(:project, :completed_at)
        %th.header= mat(:project, :leaded_by_id)
        %th.header= mat(:project, :created_at)
        %th.header= mat(:project, :updated_at)
        %th.header.list-row-action-header

    %tbody
      -@projects.each do |project|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'project_ids[]', :value => project.id, :class => 'list-selectable-checkbox'
          %td.list-column=project.id
          %td.list-column=project.name
          %td.list-column=project.description
          %td.list-column=project.started_at
          %td.list-column=project.started_by_id
          %td.list-column=project.completed_at
          %td.list-column=project.leaded_by_id
          %td.list-column=time_ago_in_words project.created_at
          %td.list-column=time_ago_in_words project.updated_at
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:projects, :edit, :id => project.id), :rel => :tooltip, :title => "#{pat(:edit)} project", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} project", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "project")
                .popover-content
                  -form_tag url(:projects, :destroy, :id => project.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
